@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.name {
    text-transform: uppercase;
}

#page {
    display: grid;
    grid-template-areas: "pokemon search-bar" "pokemon list" "info list";
    grid-template-rows: 2em 16em 1fr;
    grid-template-columns: 1fr 2fr;
    height: 93vh;
}

#page>* {
    font-family: 'Press Start 2P', cursive;
}

#list {
    grid-area: list;
    overflow-y: scroll;
    position: relative;
    background: repeating-linear-gradient(180deg, #4c4c61, #b3b497 10em, #f3f7dc 20em, #4c4c61);
    box-shadow: inset 1em 0em 0.3em -0.5em #161718dc;
}

#page>#pokemon {
    grid-area: pokemon;
    background: repeating-linear-gradient(180deg, #e9e9fb, #303537 65%, #465c63 66%, #e9e9fb 100%);
    box-shadow: inset 1em 4em 7em 5em #2326279a;
    position: relative;
}

#info-name {
    height: 7em;
    position: relative;
    top: 0.5em;
    left: 0;
    margin: 1em;
}

#page>#info {
    grid-area: info;
    background-color: #ffa08c;
}

#page>#search-bar {
    grid-area: search-bar;
    height: 2em;
    position: relative;
    background: repeating-linear-gradient(47deg, #4c4c61, #b3b497 10em, #f3f7dc 20em, #4c4c61);
    box-shadow: 0em 1em 1em -0.6em #08090a;
}

.team-btn {
    font-family: 'Press Start 2P', cursive;
    background-color: #c4dadc;
    position: absolute;
    border: 0.2em inset rgba(255, 255, 255, 0.823);
    border-radius: 10em;
    height: 2em;
    bottom: 0.2em;
    right: 0.2em;
}

.team-btn:hover {
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: 0 0 0.2em 0.2em #ffffff;
}

.image,
.image-loading,
.shadow,
.shadow-loading {
    position: absolute;
    padding: 0;
}

.image {
    margin-left: -5em;
    width: 10em;
    left: 50%;
    top: 28%;
    filter: drop-shadow(0.5em 0.5em 2em rgb(207, 211, 228));
    transition: all 0.5s ease-in;
    transition-delay: 0.3s;
}

.image-loading {
    margin-left: -0.25em;
    margin-top: -0.25em;
    width: 0.5em;
    top: 50%;
    left: 50%;
    filter: drop-shadow(0.5em 0.5em 2em rgb(207, 211, 228)) brightness(688%) blur(5em);
    opacity: 0;
    transition: all 0.2s ease-in;
}

.shadow {
    filter: blur(1rem);
    height: 4em;
    margin-left: -6em;
    width: 14em;
    left: 50%;
    top: 75%;
    transition: all 0.5s ease-in;
    transition-delay: 0.3s;
}

.shadow-loading {
    height: 5em;
    margin-left: -9em;
    width: 18em;
    left: 50%;
    top: 74%;
    opacity: 0;
    filter: drop-shadow(0.5em 0.5em 2em rgb(207, 211, 228)) brightness(688%) blur(5rem);
    transition: all 0.2s ease-in;
}