@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.name {
    text-transform: uppercase;
}

#page {
    display: grid;
    grid-template-areas: "pokemon search-bar" "pokemon list" "info list" "foot  foot";
    grid-template-rows: 2em 16em 1fr 2em;
    grid-template-columns: 1fr 2fr;
    height: calc(100vh - 3em);
}

#page>* {
    font-family: 'Press Start 2P', cursive;
}

#page>#pokemon {
    grid-area: pokemon;
    background: repeating-linear-gradient(180deg, #e9e9fb, #303537 65%, #465c63 66%, #e9e9fb 100%);
    box-shadow: inset 1em 4em 7em 5em #2326279a;
    position: relative;
}

#info-name {
    position: relative;
    background-color: #8cffa0;
    height: 3em;
}

#page>#info {
    grid-area: info;
    background-color: #ffa08c;
}

#page>#search-bar {
    height: 2em;
    position: relative;
    background: repeating-linear-gradient(47deg, #4c4c61, #b3b497 10em, #f3f7dc 20em, #4c4c61);
    box-shadow: 0em 1em 1em -0.6em #08090a;
}

#search-bar>p {
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: -0.5em;
    top: 50%;
    right: 15.5em;
}

#search-bar>input {
    font-family: 'Press Start 2P', cursive;
    color: white;
    background-color: #6e8688;
    position: absolute;
    right: 3em;
    margin: 0.2em;
    text-align: center;
    padding: 0.2em;
    border: 0.2em inset rgb(174, 189, 193);
    border-radius: 10em;
    height: 1.2em;
    width: 14em;
    box-shadow: inset 0.6em 0.6em 0.9em 0.6em #27282b;
}

#page>footer {
    grid-area: foot;
    background-color: #8cffa0;
}

.image,
.image-loading,
.shadow,
.shadow-loading {
    position: absolute;
    padding: 0;
}

.image {
    margin-left: -5em;
    width: 10em;
    left: 50%;
    top: 28%;
    filter: drop-shadow(0.5em 0.5em 2em rgb(207, 211, 228));
    transition: all 0.5s ease-in;
    transition-delay: 0.3s;
}

.image-loading {
    margin-left: -0.25em;
    margin-top: -0.25em;
    width: 0.5em;
    top: 50%;
    left: 50%;
    filter: drop-shadow(0.5em 0.5em 2em rgb(207, 211, 228)) brightness(688%) blur(5em);
    opacity: 0;
    transition: all 0.2s ease-in;
}

.shadow {
    filter: blur(1rem);
    height: 4em;
    margin-left: -6em;
    width: 14em;
    left: 50%;
    top: 75%;
    transition: all 0.5s ease-in;
    transition-delay: 0.3s;
}

.shadow-loading {
    height: 5em;
    margin-left: -9em;
    width: 18em;
    left: 50%;
    top: 74%;
    opacity: 0;
    filter: drop-shadow(0.5em 0.5em 2em rgb(207, 211, 228)) brightness(688%) blur(5rem);
    transition: all 0.2s ease-in;
}