@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    margin: 0;
}

header {
    position: relative;
    background: linear-gradient(180deg, #20202e, #b3b497 10em, #f3f7dc 20em, #4c4c61);
    height: 7vh;
    text-align: center;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 1em 1em #20202e;
}

.nav-link {
    background-color: transparent;
    position: relative;
    top: 1em;
    padding: 1em;
    text-decoration: none;
    color: #e5a969;
    margin: 2em;
    font-family: 'Press Start 2P', cursive;
}

.nav-link:hover {
    color: #ffdbb5;
}

#router-div {
    margin: auto;
    padding: auto;
}