#list {
    grid-area: list;
    overflow-y: scroll;
    position: relative;
    background: repeating-linear-gradient(180deg, #4c4c61, #b3b497 10em, #f3f7dc 20em, #4c4c61);
    box-shadow: inset 1em 0em 0.3em -0.7em #20202e;
}

#list::-webkit-scrollbar {
    width: 17px;
}

#list::-webkit-scrollbar-thumb {
    background: linear-gradient(#f00000 40%, #000000, #f0f0f0 60%);
    border-radius: 50%;
    outline: 2px solid #000000;
}

#list::-webkit-scrollbar-track {
    background: transparent;
}

#pokemon-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    margin: 0 0.7em;
    list-style-type: none;
}

#pokemon-list-item>*,
#pokemon-list-item-selected>* {
    margin: 0;
    padding: 0;
    position: absolute;
    display: inline;
}

#pokemon-list-item {
    background-color: #6e86886e;
    position: relative;
    margin: 1em 0.5em;
    padding: 0.2em;
    border: 0.2em inset rgb(174, 189, 193, 0.5);
    border-radius: 10em;
    height: 5em;
}

#pokemon-list-item-selected {
    background-color: #ffffff;
    box-shadow: 0em 0em 0.2em 0.3em #000000;
    position: relative;
    margin: 1em 0.5em;
    padding: 0.2em;
    border: 0.2em inset rgb(174, 189, 193, 0.5);
    border-radius: 10em;
    height: 5em;
}

#pokemon-list-item:hover {
    background-color: #97bbbf6e;
    border: 0.2em outset rgba(174, 189, 193, 0.5);
    cursor: pointer;
    box-shadow: 0.6em 0.6em 0.3em 0.3em #27282b;
}

#li-shadow {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 10em;
    box-shadow: inset 0.6em 0.6em 0.9em 0.6em #27282b;
}

#pokemon-list-item:hover #li-shadow {
    display: none;
}

#pokeball {
    width: 5em;
}

#item-name,
#item-id,
#inTeam {
    width: 10em;
    font-size: 0.8em;
    height: 3em;
    left: 30%;
    margin-top: -0.4em;
}

#item-name {
    top: 60%;
}

#item-id {
    top: 40%;
}

#inTeam {
    color: #ffffff;
    top: 80%;
    filter: drop-shadow(0em 0em 0.3em #000000);
    pointer-events: none;
}

#item-icon {
    width: 5em;
    margin-top: -2.5em;
    top: 50%;
    right: 2%;
    filter: drop-shadow(0.1em 0.1em 0.3em #11131f);
}

#item-shadow {
    background: radial-gradient(#27282b, #9198e500);
    filter: blur(0.1em);
    width: 3em;
    height: 0.7em;
    border-radius: 50%;
    top: 70%;
    right: 7%;
}