#search-bar {
    grid-area: search-bar;
    height: 2em;
    position: relative;
    background: repeating-linear-gradient(47deg, #4c4c61, #b3b497 10em, #f3f7dc 20em, #4c4c61);
    box-shadow: 0em 1em 1em -0.6em #08090a;
}

#search-bar:after {
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    box-shadow: inset 1em 0em 0.3em -0.7em #161718dc;
    pointer-events: none;
    z-index: 2;
}

#search-label {
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: -0.5em;
    top: 50%;
    right: 15.5em;
}

#search-input {
    font-family: 'Press Start 2P', cursive;
    color: white;
    background-color: #6e8688;
    position: absolute;
    right: 3em;
    margin: 0.2em;
    text-align: center;
    padding: 0.2em;
    border: 0.2em inset rgb(174, 189, 193);
    border-radius: 10em;
    height: 1.2em;
    width: 14em;
    box-shadow: inset 0.6em 0.6em 0.9em 0.6em #27282b;
}